.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
    position: relative;

    .increase-button {
      font-size: 37px;
      top: 5px;
      left: 2px;
      position: relative;
      cursor: pointer;
    }

    .decrease-button {
      font-size: 37px;
      top: 5px;
      right: 2px;
      position: relative;
      cursor: pointer;
    }
  }

  .quantity {
    padding-left: 20px;
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
